@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
}


body {
	background: url('../pictures/main_top_bg.jpg') top center no-repeat #0c1011;

}

h1{
    color: #fdf6f6;
    z-index: 2;
}

/* video */
.video_head{
	width: 100%;
	height: 1100px;
	background: #000;
	position: absolute;
	z-index: -10;
	overflow: hidden;
}

.video_head > .bgvideo{
	width: 1920px;
	margin-left: calc( (100% - 1920px) / 2 );
}

.site_container {max-width: 1920px;width: 100%;margin-left: auto;margin-right: auto;
	/* background: url('../images/middle_bg.png') no-repeat,
				url('../images/main_bottom_bg.jpg') no-repeat; */
	background-position: center 800px, center bottom;
	position: relative;
	z-index: 2;
}
.wrapper {position: relative;margin-left: auto;margin-right: auto;max-width: 1240px;width: 1240px;z-index: 1;}

.main_menu {display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;height: 100%;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;list-style: none;}
.main_menu li a{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;-webkit-transition: all .2s ease;-o-transition: all .2s ease;transition: all .2s ease;}
.main_menu li a i {display: block;background: url(../pictures/menu_icon.png) center no-repeat;width: 29px;height: 35px;margin-right: 13px;-webkit-transition: all .2s ease;-o-transition: all .2s ease;transition: all .2s ease;}
.main_menu li a {font-family: 'Montserrat';font-size: 18px;color: #d4d6d7;text-decoration: none;text-transform: uppercase;}
.main_menu li a .right_side {font-family: 'Montserrat';}
.main_menu li a .small_text {display: block;font-size: 10px;color: #74787a;text-transform: uppercase;margin-top: 2px;-webkit-transition: all .2s ease;-o-transition: all .2s ease;transition: all .2s ease;}
.main_menu li a:hover {color: #fff;}
.main_menu li a:hover span {color: #fff;}
.main_menu li a:hover i {background: url('../pictures/menu_icon_hover.png')center no-repeat;}
.main_menu li a.active {color: #fff;}
.main_menu li a.active span {color: #fff;}
.main_menu li a.active i {background: url('../pictures/menu_icon_hover.png')center no-repeat;}


/* кнопки на соц.сети */
.social div{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background: #eee;
    border: 1px solid silver;
    cursor: pointer;
    color: #3b3b3b;
    transition: transform 600ms ease;
}
.social div:hover {
    transform: translateY(-10px);
}
.social div{
    display: inline-block;
    margin-left: 15px;
}