/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {

}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {

}

/* md <= Large (lg) */
@media (max-width : 992px) {

}

/* sm <= Medium (md) */
@media (max-width : 768px) {
	.news-container {
        flex-direction: column;
        align-items: center;
    }

    .news-card {
        width: 90%; /* Карточка займет 90% ширины экрана */
        max-width: 100%;
        margin-bottom: 15px;
    }

    .news-card h2 {
        font-size: 1.2rem;
    }

    .news-description {
        font-size: 0.95rem;
    }



	/* стили для модального окна */
	.modal-header {
		padding-top: 10%;
	}
	
	.modal-content {
		margin-top: 10vh; /* Отступ сверху 10% от высоты экрана */
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: center; /* Центрирование по горизонтали */
		padding: 1rem; /* Отступы от краев */
	}

	.modal-row {
		flex-direction: column; /* Переключаемся на вертикальное расположение */
		align-items: center; /* Центрирование всех элементов */
		gap: 0.5rem; /* Расстояние между текстом и кнопкой */
		font-size:larger;
	}
	
	.modal-row span {
		text-align: center; /* Центрируем текст */
		margin-bottom: 1rem; /* Добавляем отступ под текст */
	}
	
	.modal-row .button-modal {
		text-align: center; /* Центрирование кнопки */
	}
/* свечение на модальной кнопке */
	.btn-modal{
		box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
	  }
	  

	/* смещение видео-фона */
	/* .background-video-news{
		object-position: 80%;
	} */

	

}

/* xs <= Small (sm) */
@media (max-width : 576px) {
	header{
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		font-size: calc(var(--index)*3);
		/* можно убать прозрачность */
		background:rgba(0, 0, 0, 0.9);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
		text-align: center;
		z-index: 5;
		left:-120%;
		transition: left 0.5s ease;
	}

	header.active{
        left:0%;
    }

	header .user .user_photo {
		width: 15rem;
		height: 15rem;
		border-radius: 50%;
		object-fit: cover;
		margin-bottom: 1rem;
		margin-top: 0;
		border: 0.7rem solid var(--main-clr);
		/* box-shadow: var(--glowing-bxs); */
	}

	/* header .navbar{width: 100%;} */

	header .navbar ul{
		list-style: none;
		padding: 1rem 3rem;
	}

	header .navbar ul li a{
		display: block;
		padding: 0.5rem;
		text-decoration: none;
		margin: 1rem 0rem;
		background:#333;
		color: #fff;
		font-size: calc(var(--index)*3);
		border-radius: 1rem;
	}

	header .navbar ul li a:hover{
		scale: 1.1;
	}

	#menu{
		position: fixed;
		top:2rem;
		right: 2rem;
		background: #333;
		color: #fff;
		cursor: pointer;
		font-size: calc(var(--index));
		padding: 1rem 1.5rem;
		z-index: 5;
		border-radius: 0.5rem;
		/* скрываем кнопку */
		display: block;
	}

	.social-media{
		text-align: center;
		padding: 0rem 0rem 0rem;
	}

	.social-media a{
		margin: 0rem .1rem;
		width: 3.5rem;
		height: 3.5rem;
		line-height: 3.5rem;
		background-color: #fff;
		text-decoration: none;
		border-radius: 50%;
		color: #000;
		font-size: calc(var(--index)*2);
	}

	.social-media a:hover{
		background-color: var(--main-clr);
		color: #fff;
		/* box-shadow: var(--glowing-bxs); */
	}

/* стили для модального окна */	

}



/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {
	header{
		position: fixed;
		top: 0;
		left: 0;	
		width: 100%;
		/* можно убать прозрачность */
		background: rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-flow: row;
		text-align: center;
		z-index: 5;
	}

	header .user .user_photo {
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		object-fit: cover;
		margin-bottom: 0rem;
		margin-top: 0;
		margin-left: 1rem;
		border: 0.3rem solid var(--main-clr);
		/* box-shadow: var(--glowing-bxs); */
		transition: transform 0.3s ease;
	}

	header .user .user_photo:hover{
		transform: scale(1.1);
	}

	header .navbar{
		width: 75%;
		display: flex;
		justify-content: space-around;
	}

	header .navbar ul{
		list-style: none;
		padding: 0rem 0rem;
		display: flex;
		justify-content: space-between;
	}

	header .navbar ul li a{
		display: block;
		padding: 0.5rem;
		text-decoration: none;
		margin: 1rem 2rem;
		/* background:#333; */
		color: #fff;
		font-size: calc(var(--index)*1.5);
		border-radius: 1rem;
		transition: transform 0.3s ease;
	}

	header .navbar ul li a:hover{
		transform: scale(1.1);
	}


	#menu{
		position: fixed;
		top:2rem;
		right: 2rem;
		background: #333;
		color: #fff;
		cursor: pointer;
		font-size: calc(var(--index)*1);
		padding: 1rem 1.5rem;
		z-index: 1000;
		border-radius: 0.5rem;
		/* скрываем кнопку */
		display: none;
	}

	.social-media{
		text-align: center;
		padding: 0rem 0rem 0rem;
		margin-right: calc(var(--index));
		display: flex; 
		justify-content: center;
		gap: 0.1rem;
		flex-wrap: nowrap;
	}

	.social-media a{
		margin: 0;
		width: 3rem;
		height: 3rem;
		line-height: 3rem;
		background-color: #fff;
		text-decoration: none;
		border-radius: 50%;
		color: #000;
		font-size: calc(var(--index));
		transition: transform 0.3s ease;
	}

	.social-media a:hover{
		background-color: var(--main-clr);
		color: #fff;
		transform: scale(1.1);
		/* box-shadow: var(--glowing-bxs); */
	}	
}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {

}

/* Extra large (xl) */
@media (min-width : 1200px) {
	/* .text {
		font-size: 18px;
	} */
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
	/* .text {
		font-size: 22px;
	} */
}
