/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {

}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {

}

/* md <= Large (lg) */
@media (max-width : 992px) {

}

/* sm <= Medium (md) */
@media (max-width : 768px) {
	/* надо менять под видео */
	.background-video-news{
		object-position: 80%;
	}

	.wrap__btns {
        flex-direction: column; /* Кнопки будут располагаться друг под другом */
        justify-content: flex-end;
		align-items: center;
        padding: 0 0 20px 0; /* Отступ снизу для кнопок */
		height: 100vh; /* Устанавливаем высоту 100% окна */
		box-sizing: border-box;
    }

    .wrap__btn {
        margin-bottom: 20px; /* Отступ между кнопками */
    }

    .wrap__btn:last-child {
        margin-bottom: 0; /* Убираем нижний отступ для последней кнопки */
    }

    .button {
        min-width: 250px; /* Можно уменьшить размер кнопок на мобильных устройствах */
    }
}

/* xs <= Small (sm) */
@media (max-width : 576px) {

}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {

	
}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {

}

/* Extra large (xl) */
@media (min-width : 1200px) {
	/* .text {
		font-size: 18px;
	} */
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
	/* .text {
		font-size: 22px;
	} */
}
