/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {

}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {

}

/* md <= Large (lg) */
@media (max-width : 992px) {

}

/* sm <= Medium (md) */
@media (max-width : 768px) {
	.burger{
		display: flex;
		width: 7vh;
		height: 5vh;

	}

	.nav {
		display:flex;
		flex-direction: column;
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;bottom: 0; left: 0; right: 0;
		z-index: 50;
		overflow-y: auto;
		padding: 15vh 10vw;
		background-color: rgba(0,0,0,0.5);
		/* animation: burgerAnimation 0.4s; */
	}

	.nav ul{
		flex-direction: column;
		row-gap: 30px;
		font-size:calc(var(--index)*3);
	}
}

/* xs <= Small (sm) */
@media (max-width : 576px) {

}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {

	
}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {

}

/* Extra large (xl) */
@media (min-width : 1200px) {
	/* .text {
		font-size: 18px;
	} */
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
	/* .text {
		font-size: 22px;
	} */
}
