* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    /* text-transform: capitalize; */
    transition: all 0.2s linear;
    font-family: 'Nunito', sans-serif;
}

html{
    font-size: 62.5%;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    height: 100%;
}

body {
    height: 100%;
  }


:root {
    --header-height: 10vh; /* Изначальная высота заголовка */
    --index: calc(1vw + 1vh);
    --main-clr:deepskyblue;
  }

a{
    color: white;
    text-decoration: none;
    font-size:calc(var(--index)*2);
}

/* Видео на фоне */
.background-container,
.background-container-news {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("../img/bg.jpg") center no-repeat;
    background-size: cover;
  }

.background-video,
.background-video-news {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}


/* Шапка */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    padding: 20px;
}

.wrap-logo {
  display: flex;
  align-items: center;
 
}

header a {
  color: #fff;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
}

header a.logo {
  font-size: 35px;
  font-weight: bold;
  color: var(--main-clr);
}

header nav a:hover {
  background-color: rgba(79,209,197,1);
  color: #212121;
}

header nav a.active {
  background-color: rgba(79,209,197,1);
}

nav {
  display: flex;
  align-items: center;
  }

/* Кнопка */
.wrap__btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Выше видео */
}
  
.button {
    min-width: 300px;
    min-height: 60px;
    display: inline-flex;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,0,5) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
.button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
.button:hover, 
.button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
.button:hover::before, 
.button:focus::before {
    opacity: 1;
  }
  
.button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
.button:hover::after, 
.button:focus::after {
    animation: none;
    display: none;
  }
  
@keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

/* Конец кнопки */