* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}
main {
  max-width: 900px;
  margin: 10px auto;
  padding-left: 15px;
  padding-right: 15px;
}
.modal-open {
  display: inline-block;
  margin: 10px;
  padding: 10px 40px;
  text-decoration: none;
  background-color: #1E8CBE;
  color: #fff;
  border-radius: 10px;
  transition: .5s;
}
.modal-open:hover {
  background-color: #1E83c1;
  box-shadow: 0 5px 10px rgb(1, 61, 98, 59%);;
}
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.8);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0; 
  transition: .5s ease-in;
  z-index: 100;
}
.modal-content {
  background-color: #fff;
  width: 70%;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding: 20px;
  border-radius: 8px;
  transform: perspective(500px) translateY(-100%) rotateX(45deg);
  transition: transform .5s ease-out;
}
#modal-toggle {
  display: none;
}
#modal-toggle:checked ~ .modal-wrapper {
  visibility: visible;
  opacity: 1;
}
#modal-toggle:checked ~ .modal-wrapper .modal-content{
  transform: translateY(0) rotate(0);
}
.modal-open::after {
  content: "\00D7"; 
  position: fixed;
  top: calc(50% - 40px);
  right: calc(15% + 20px);
  cursor: pointer;
  background-color: #1E83c1;
  color: #fff;
  font-size: 32px;
  font-size: bold;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 6px;
  z-index: 110;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);  
}
#modal-toggle:checked + .modal-open::after {
   opacity: 1;
   visibility: visible;
   transform: scale(1);
  transition: .5s ease-out .35s;
}