@font-face {
  font-family: 'DXAngelusMediaval';
  src: url('/fonts/DXAngelusMediaval/DXAngelusMediaval.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:url('/fonts/Roboto/Roboto-Bold.woff') format('woff');  /* Резервный формат */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/Suisselntl/SuisseIntl-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/Suisselntl/SuisseIntl-Medium.woff') format('woff');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src:url('/fonts/Suisselntl/SuisseIntl-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    transition: all 0.2s linear;
    font-family: 'Nunito', sans-serif;
    /* font-family: 'DXAngelusMediaval', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
}

html{
    /* font-size: 62.5%; */
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    height: 100%;
}

body {
    height: 100%;
  }


:root {
    --header-height: 10vh; /* Изначальная высота заголовка */
    --index: calc(1vw + 1vh);
    --main-clr:deepskyblue;
  }

a{
    color: white;
    text-decoration: none;
    font-size:calc(var(--index)*2);
}

/* Шапка  была перенесена в media-запросы*/
header nav a.activate {
  background-color: rgba(79,209,197,1);
}

/* Старт стилей для главной страницы */
/* Видео на фоне */
.background-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("../img/bg_home.webp") center no-repeat;
    background-size: cover;
  }

  .background-container::before{
    content: "";
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5%;
    background: linear-gradient(to top, rgba(0,0,0,1) 10%,transparent);
    z-index: 3;
  }

.background-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

/* Заголовок */
/* .heading{
  position: relative;
  z-index: 2;
  width: 70vw;
  height: 50vh;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}
.heading h1{
  font-size: calc(var(--index)*3);
} */

.wrapper-heading {
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 20px;
  justify-content: center;
  padding: 20px;
  position: relative;
  z-index: 4; /* Чтобы быть поверх градиента */
  flex-wrap: wrap; /* Чтобы карточки переносились на новую строку на узких экранах */
}

.heading {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  /* max-width: 300px; */
  width: 90%;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
}

.heading h1 {
  font-size: calc(var(--index)*3);
  margin-bottom: 10px;
  /* color: #FFD700; */
  font-family: 'SuisseIntl', sans-serif;
  font-weight: bold;
  
}

.heading h2 {
  font-size: calc(var(--index)*1.5);
  color:#2563EB;;
  font-style: italic;
}


/* Кнопка */
.wrap__btn {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.button__title {
  font-size: 22px; /* Размер шрифта для основного текста */
  font-weight: 700;
}

.button__subtitle {
  display: block; /* Переводим в блочный элемент, чтобы текст был снизу */
  font-size: 14px; /* Размер шрифта меньше основного */
  font-weight: 400; /* Тонкий шрифт для отличия */
  opacity: 0.8; /* Можно сделать чуть светлее */
  margin-top: 5px; /* Отступ сверху от основного текста */
  text-transform: none; /* Обычное написание */
  letter-spacing: normal; /* Убираем лишний разряд между буквами */
}

.button {
    min-width: 300px;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,0,5) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
.button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
.button:hover, 
.button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
.button:hover::before, 
.button:focus::before {
    opacity: 1;
  }
  
.button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
.button:hover::after, 
.button:focus::after {
    animation: none;
    display: none;
  }
  
@keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

/* Конец кнопки */

/* Стили для модального окна */
.link-form {
  display: none; /* Скрываем по умолчанию */
  position: fixed; /* Для отображения поверх страницы */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 5%;
  width: 70vw; /* Ширина модального окна */
  height: 70vh;
  z-index: 7; /* Поверх остальных элементов */

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg_modal.webp") center no-repeat;
  background-size: cover;
}
  
/* Кнопка закрытия */
#close-modal{
  position: fixed;
  top: 10px;
  right: 10px;
  background: #333;
  color: #fff;
  cursor: pointer;
  font-size: calc(var(--index));
  padding: 0.5rem 0.75rem;
  z-index: 5;
  border-radius: 0.5rem;
  display: block;
  transition: transform 0.3s ease;
}

#close-modal:hover {
  color: deepskyblue;
  transform: scale(1.1);
}

/* стили для контента внутри модального окна */
.modal-header {
  text-align: center;
  padding-bottom: 5%;
  border-bottom: 0.125rem solid #ccc;
  margin-bottom: 5%;
  margin-top: 5%;
  color: #fff;
}

.modal-title {
  font-size: calc(var(--index)*2);
  font-weight: bold;
  /* margin: 0; */
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  font-size: 1.5rem;
}

.modal-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff; 
}

.modal-row span {
  flex: 1;
  text-align: left;
}

/* .modal-row .button-modal {
  text-align: center;
} */

/* Кнопка в модальном окне */
.container-btn-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}
.container-btn-modal a {
  font-size: calc(var(--index));
  padding: 1rem 3rem;
  color: #f4f4f4;
  /* text-transform: uppercase; */
}

.btn-modal {
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
}

.btn-modal:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.btn-modal:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms;
}

.btn-modal:hover:before {
  left: 100%;
}
/*Конец кнопки в модальном окне */

/* Затемнение фона, когда открыто модальное окно */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 6;
}

/* Показываем модальное окно при активации */
.link-form.show,
.modal-overlay.show {
  display: block;
}

/* Конец стилей для главной страницы */


/*Старт секции новости */
/* Видео на фоне */
.background-container-news{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("../img/bg_news.webp") center no-repeat;
  background-size: cover;
}

.background-container-news::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 10%,transparent) top,
                linear-gradient(to top, rgba(0,0,0,1) 10%,transparent) bottom;
    background-size: 100% 30%;
    background-repeat: no-repeat;
    z-index: 3;
} 
/* Затемненине,чтобы лучше был виден текст */
/* .background-container-news::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0,0.5);
  z-index: 3;
} */

.background-video-news {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
/*Конец видео на фоне */

/* стили для карточек */
.news-container {
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 20px;
  justify-content: center;
  padding: 20px;
  position: relative;
  z-index: 4; /* Чтобы быть поверх градиента */
  flex-wrap: wrap; /* Чтобы карточки переносились на новую строку на узких экранах */
}

.news-card {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
}

.news-card:hover {
  transform: scale(1.05);
}

.news-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.news-date {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 15px;
}

.news-description {
  font-size: 1rem;
  line-height: 1.4;
}
/*Конец стилей для карточек */

#news h1{
  position: absolute;
  font-size: 100px;
  color: #fff;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*Конец секции новости */


/*Старт секции about */
/* Видео на фоне */
.background-container-about{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("../img/bg_about.webp") center no-repeat;
  background-size: cover;
}

.background-container-about::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 10%,transparent) top,
                linear-gradient(to top, rgba(0,0,0,1) 10%,transparent) bottom;
    background-size: 100% 30%;
    background-repeat: no-repeat;
    z-index: 3;
}

.background-video-about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
/*Конец видео на фоне */

/* #about h1{
  position: absolute;
  font-size: 100px;
  color: #fff;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.accordion-wrapper{
  position: absolute;
  background: red;
  z-index: 3;
  width: 80%;
  height: 80%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Конец секции about */