body{
    margin: 0;
    font-family: Tahoma,sans-serif;
}

.intro{
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: url("../img/bg.jpg") center no-repeat;
    background-size: cover;
    z-index: -1;
}

.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video__media{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрируем видео */
    width: 100vw; /* Растягиваем по ширине */
    height: 100vh; /* Растягиваем по высоте */
    object-fit: cover; /* Масштабирование, чтобы видео полностью занимало блок */
}

@media (max-width: 768px) {
    .video__media {
        width: 100vw; /* Растягиваем на всю ширину экрана */
        height: 100vh; /* Растягиваем на всю высоту экрана */
        object-fit: cover; /* Масштабируем видео, чтобы оно полностью занимало экран */
    	object-position: 68%;
	}
}

/* затемнение видео-фона */
/* .intro::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top:0;
    z-index: 2;
} */

/* можно удалить */
.intro__content, .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    z-index: 3;
}

/* можно удалить */
.intro__title{
    margin: 0;
    /* надо сделать переменную */
    font-size: 45px; 
    color:#fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5) ;
}

/* можно удалить */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
