body{
    margin: 0;
    font-family: Tahoma,sans-serif;
}

.intro{
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: url("../img/bg.jpg") center no-repeat;
    background-size: cover;
}

.intro::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top:0;
    z-index: 2;
}

.intro__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    z-index: 3;
}

.intro__title{
    margin: 0;
    font-size: 45px;
    color:#fff;
    text-align: center;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.video{
    /* position: relative;
    padding-bottom: 56.25%; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video__media{
    /* width: 100%;
    height: auto;
    position: absolute;
    top:0;
    left:0; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрируем видео */
    width: 100vw; /* Растягиваем по ширине */
    height: 100vh; /* Растягиваем по высоте */
    object-fit: cover; /* Масштабирование, чтобы видео полностью занимало блок */
}

@media (max-width: 768px) {
    .video__media {
        width: 100vw; /* Растягиваем на всю ширину экрана */
        height: 100vh; /* Растягиваем на всю высоту экрана */
        object-fit: cover; /* Масштабируем видео, чтобы оно полностью занимало экран */
    }

    .intro__title {
        font-size: 35px; /* Уменьшаем размер текста для мобильных устройств */
    }
}