body{
    background: rgba(0, 0, 0,0.5);
}

.col,.col-6 {
    background-color: #f8d7da; /* Светло-красный фон */
    border: 2px solid #721c24; /* Темно-красная обводка */
    border-radius: 8px; /* Закругленные углы */
    padding: 20px; /* Внутренний отступ */
    margin: 10px; /* Внешний отступ */
    color: #721c24; /* Цвет текста */
    font-weight: bold; /* Жирный текст */
}

.row {
    margin-top: 20px; /* Отступ сверху для всей строки */
}

.container {
    margin-top: 40px; /* Отступ сверху для контейнера */
}

.accordion-layout {
    display: flex;
    align-items: flex-start; /* Выравнивание по верхнему краю */
}

.accordion {
    flex: 1; /* Занимает 50% ширины */
    margin-right: 20px; /* Отступ справа от аккордеона */
}

.accordion-content {
    flex: 2; /* Занимает оставшееся пространство */
    background-color: #f8f9fa; /* Светлый фон для тела */
    padding: 20px; /* Внутренний отступ */
    border: 1px solid #dee2e6; /* Легкая граница */
    border-radius: 8px; /* Закругленные углы */
}