* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    /* text-transform: capitalize; */
    transition: all 0.2s linear;
    font-family: 'Nunito', sans-serif;
}

html{
    /* font-size: 62.5%; */
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    height: 100%;
}

body {
    height: 100%;
  }


:root {
    --header-height: 10vh; /* Изначальная высота заголовка */
    --index: calc(1vw + 1vh);
    --main-clr:deepskyblue;
  }

a{
    color: white;
    text-decoration: none;
    font-size:calc(var(--index)*2);
}

/* Шапка  была перенесена в media-запросы*/
header nav a.activate {
  background-color: rgba(79,209,197,1);
}

/* Старт стилей для главной страницы */
/* Видео на фоне */
.background-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("../img/bg_home.webp") center no-repeat;
    background-size: cover;
  }

  .background-container::before{
    content: "";
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5%;
    background: linear-gradient(to top, rgba(0,0,0,1) 10%,transparent);
    z-index: 3;
  }

.background-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

/* Кнопка */
.wrap__btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Выше видео */
}
  
.button {
    min-width: 300px;
    min-height: 60px;
    display: inline-flex;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,0,5) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
.button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
.button:hover, 
.button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
.button:hover::before, 
.button:focus::before {
    opacity: 1;
  }
  
.button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
.button:hover::after, 
.button:focus::after {
    animation: none;
    display: none;
  }
  
@keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

/* Конец кнопки */

/* Стили для модального окна */
.link-form {
  display: none; /* Скрываем по умолчанию */
  position: fixed; /* Для отображения поверх страницы */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 70vw; /* Ширина модального окна */
  height: 70vh;
  z-index: 7; /* Поверх остальных элементов */
}
/* Кнопка закрытия */
#close-modal{
  position: fixed;
  top: 10px;
  right: 10px;
  background: #333;
  color: #fff;
  cursor: pointer;
  font-size: calc(var(--index));
  padding: 0.5rem 0.75rem;
  z-index: 5;
  border-radius: 0.5rem;
  display: block;
  transition: transform 0.3s ease;
}

#close-modal:hover {
  color: deepskyblue;
  transform: scale(1.1);
}

/* стили для контента внутри модального окна */

.modal-header {
  text-align: center;
  padding-bottom: 1rem; /* Используем rem для отступов */
  border-bottom: 0.125rem solid #ccc; /* Толщина линии в rem */
  margin-bottom: 2rem; /* Отступ снизу */
}

.modal-title {
  font-size: 1.5rem; /* Размер шрифта относительно корневого элемента */
  font-weight: bold;
  margin: 0;
}


/* Стили для ссылок внутри модального окна */
/* вроде можно удалить */
.link-form a {
  display: block;
  text-decoration: none;
  color: #007bff;
  font-size: 16px;
  margin: 10px 0;
  transition: color 0.3s ease;
}

.link-form a:hover {
  color: #0056b3;
}

/* Затемнение фона, когда открыто модальное окно */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 6;
}

/* Показываем модальное окно при активации */
.link-form.show,
.modal-overlay.show {
  display: block;
}

/* Конец стилей для главной страницы */


/*Старт секции новости */
/* Видео на фоне */
.background-container-news{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("../img/bg_news.webp") center no-repeat;
  background-size: cover;
}

.background-container-news::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 10%,transparent) top,
                linear-gradient(to top, rgba(0,0,0,1) 10%,transparent) bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 3;
} 
/* Затемненине,чтобы лучше был виден текст */
/* .background-container-news::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0,0.5);
  z-index: 3;
} */

.background-video-news {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
/*Конец видео на фоне */

/* стили для карточек */
.news-container {
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 20px;
  justify-content: center;
  padding: 20px;
  position: relative;
  z-index: 4; /* Чтобы быть поверх градиента */
  flex-wrap: wrap; /* Чтобы карточки переносились на новую строку на узких экранах */
}

.news-card {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.news-card:hover {
  transform: scale(1.05);
}

.news-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.news-date {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 15px;
}

.news-description {
  font-size: 1rem;
  line-height: 1.4;
}
/*Конец стилей для карточек */

#news h1{
  position: absolute;
  font-size: 100px;
  color: #fff;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*Конец секции новости */


/*Старт секции about */
#about h1{
  position: absolute;
  font-size: 100px;
  color: #fff;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*Старт секции about */